/* Color Variables */
$blue: #0c2340
$orange: #f26522

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

header
  background: $blue
  z-index: 1
  height: 260px
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5)
  position: fixed
  top: 0px
  width: 100%
  /* animation magic */
  -webkit-transition: all 0.4s ease-in-out
  -moz-transition: all 0.4s ease-in-out

  @media only screen and (max-width: 910px)
    height: auto

#header-logo
  height: 90px
  display: block
  margin: 60px auto
  /* animation magic */
  -webkit-transition: all 0.4s ease-in-out
  -moz-transition: all 0.4s ease-in-out
  z-index: 9

  @media only screen and (max-width: 860px)
    height: auto
    width: 90%

.shrink
  height: 60px

#header-logo.shrink-logo
  width: auto
  height: 40px
  margin: 0
  position: fixed
  top: 10px
  left: 20px

nav#navigation
  display: block
  background: $blue
  position: absolute
  height: 60px
  bottom: 0px
  left: 50%
  transform: translateX(-50%)

  @media only screen and (max-width: 910px)
    display: none

  ul
    width: 640px
    margin: 0 auto
    padding: 0
    height: 60px
    display: flex
    list-style: none

    li
      font-family: "Roboto", sans-serif
      font-size: 24px
      font-weight: normal
      padding: 15px 15px 17px
      color: white

      a, a:visited
        color: white
        text-decoration: none
        display: block

      a:hover, a:active
        color: $orange

    .active
      padding: 15px 15px 12px
      border-bottom: 5px solid $orange

nav#navigation.right-adjust
  right: 20px
  left: auto
  transform: none

  ul
    width: 460px
    margin: 0 auto
    padding: 0
    height: 60px
    display: flex
    list-style: none

    li
      font-family: "Roboto", sans-serif
      font-size: 18px
      font-weight: normal
      line-height: 60px
      padding: 0px 10px
      color: white

      a, a:visited
        color: white
        text-decoration: none
        display: block

      a:hover, a:active
        color: $orange

    .active
      padding: 0px 10px
      border-bottom: 5px solid $orange

#menu-icon
  display: none
  position: fixed
  right: 20px
  top: 15px
  height: 30px
  font-size: 28px
  line-height: 30px
  cursor: pointer
  color: white
  z-index: 10

  @media only screen and (max-width: 910px)
    display: block

nav#mobile-navigation
  display: block
  background: $blue
  position: fixed
  height: 0px
  top: 0px
  width: 100%
  overflow: auto
  /* animation magic */
  -webkit-transition: all 0.4s ease-in-out
  -moz-transition: all 0.4s ease-in-out
  z-index: 9

  ul
    list-style: none
    position: absolute
    right: 0px
    margin-top: 60px

    li
      font-family: "Roboto", sans-serif
      font-size: 18px
      font-weight: normal
      line-height: 30px
      padding: 0px 20px
      color: white
      text-align: right

      a, a:visited
        color: white
        text-decoration: none
        display: block

      a:hover, a:active
        color: $orange

    .active
      padding: 0px 15px
      border-right: 5px solid $orange

    li.social
      display: inline-block
      line-height: 30px
      padding: 7px

    li:nth-child(6)
      padding-left: 48px

#mobile-navigation::-webkit-scrollbar
  display: none

.spacer
  height: 3000px
  display: block

.header-image
  display: block
  width: 100%
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5)
  margin-top: 260px

.tagline
  font-family: "Roboto", sans-serif
  font-size: 36px
  text-align: center
  font-weight: bold
  color: $blue
  margin: 60px auto
  width: 1020px

.about
  display: block
  width: 900px
  font-family: "Open Sans", sans-serif
  font-size: 18px
  color: $blue
  line-height: 24px
  margin: 60px auto

  a,a:hover,a:visited,a:active
    color: $orange
    text-decoration: none

.divider
  width: 600px
  margin: 0px auto
  height: 5px
  background-color: $orange
  display: block

.sponsor-text
  font-family: "Roboto", sans-serif
  font-size: 30px
  font-weight: bold
  color: $blue
  text-align: center
  margin: 60px auto

.sponsors-container
  display: block
  margin: 0 auto
  width: 900px
  font-size: 0

  .sponsor
    display: block
    width: 200px
    margin: 0px 50px
    float: left


footer
  display: block
  width: 100%
  height: 60px
  background: $orange
  clear: both

  p
    font-family: "Open Sans", sans-serif
    font-size: 18px
    color: white
    line-height: 60px
    text-align: center

    a, a:hover, a:active, a:visited
      color: $blue
      text-decoration: none
